.article-header {
    color: $white;
    background-color: $blue;
    margin-bottom: 1rem;
}

.article-title {
    text-transform: capitalize;
}
.article-title-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1024px) {
        margin-left: 2rem;
    }

    .honour-board & {
        align-items: center;
    }
}
