.article {
    &__header {
        background-color: $blue;
        color: $white;
        @media (min-width: 768px) {
            display: flex;
        }
    }
    &__image-wrap {
        width: 100%;
        @media (min-width: 768px) {
            width: 50%;
        }
    }

    &__details-wrap {
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem;

        @media (min-width: 768px) {
            padding: 3rem;
        }
    }
}
