.leaflet-container {
    width: 100%;
    min-height: 400px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    letter-spacing: 125%;
    color: $white;
    background: $blue;
}

.map-container {
    width: 100%;
    height: 100%;
}

.map-section {
    padding: 0 !important;

    &__contacts-list {
        padding: 3rem 2rem;
    }

    &__contact {
        padding: 25px 0;
    }
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}
