h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    line-height: 1.2 !important;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    letter-spacing: 125%;
}

a {
    font-family: inherit;
}

.blue-text {
    color: $blue-text !important;
}

.drop-cap::first-letter {
    font-size: 4.5rem;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
}
